@import 'tailwindcss';

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9fafb; /* gris muy claro de base */
  color: #111827; /* gris muy oscuro para buena legibilidad */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
